@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700&display=swap");
/********************* reset */
html,
body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	scroll-behavior: smooth;
	font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
h2 {
	text-transform: uppercase;
	margin-bottom: 1em;
}
p {
	line-height: 24px;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
button {
	cursor: pointer;
	font-size: 16px;
}
figure {
	margin: 0;
}

/********************* typo */
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.25rem;
}
/********************* colors */
.text-color-white {
	color: white;
}
.text-color-blue {
	color: #0d50a8;
}
.bg-color-blue {
	background-color: #0d50a8;
}
.bg-color-lightblue {
	background-color: #3981e0;
}
.bg-color-yellow {
	background-color: #e8bc1b;
}
/********************* grid */

.container {
	width: 1200px;
	max-width: 95%;
	margin: 0 auto;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}
.h-space-between {
	justify-content: space-between;
}
.h-space-around {
	justify-content: space-around;
}
.h-center {
	justify-content: center;
}
.v-center {
	align-items: center;
}
.d-column {
	flex-direction: column;
}
/********************* buttons */

.button {
	padding: 16px 32px;
	color: white;
	text-decoration: none;
	border-radius: 10px;
	display: inline-block;
	transition: 200ms ease-in-out;
	text-transform: uppercase;
}

.button-primary {
	background-color: #e8bc1b;
	padding: 16px 80px;
}

/********************* form */

.button-submit {
	background-color: #e8bc1b;
	padding: 10px 0;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}
/********************* asides */

aside {
	padding: 5px;
}
aside .aside-links li {
	margin-left: 20px;
}
aside a {
	font-size: 12px;
}

/********************* header */
header {
	width: 100%;
	position: absolute;
	top: 70px;
	left: 0;
}
header .primary-nav li {
	margin-left: 20px;
}
header .primary-nav li a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	transition: 200ms;
}
header .primary-nav li a:hover {
	color: #e8bc1b;
}
header .menu-icon {
	cursor: pointer;
	display: none;
}
header .menu-icon span {
	height: 7px;
	border-radius: 10px;
	background-color: white;
	display: block;
}
header .menu-icon span:nth-child(1) {
	width: 50px;
}
header .menu-icon span:nth-child(2) {
	width: 40px;
	margin-top: 7px;
}
header .menu-icon span:nth-child(3) {
	width: 30px;
	margin-top: 7px;
}

/********************* logo */

.logo {
	text-transform: uppercase;
	font-size: 20px;

	text-decoration: none;
}
.logo span {
	font-weight: 700;
}
/********************* hero */

#hero {
	background-image: url("../images/hero.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#hero .container {
	height: 75vh;
}
#hero .col {
	max-width: 500px;
}
#hero .portrait-mobile {
	display: none;
	width: 100%;
	margin: 0 auto;
}
#hero .button {
	margin-top: 50px;
}
#hero .portrait {
	transform: translateY(180px);
	width: 28vw;
}
/********************* about */
#about {
	padding: 100px 0;
}
#about .col {
	max-width: 550px;
	text-align: right;
}

#about .button {
	margin-top: 40px;
}

#skills {
	padding: 50px 0;
}
#skills .skills-list {
	margin-right: 50px;
}
#skills .skills-list li span {
	height: 20px;
	width: 20px;
	display: inline-block;
	margin-right: 1em;
}
#skills .skills-list li {
	margin-bottom: 1em;
	text-transform: uppercase;
}
#skills .skills-list li:nth-of-type(1) span {
	background-color: #3981e0;
}
#skills .skills-list li:nth-of-type(2) span {
	background-color: #ad541a;
}

#skills .skills-list li:nth-of-type(3) span {
	background-color: #54507a;
}

#skills .skills-list li:nth-of-type(4) span {
	background-color: #164d94;
}
#skills .skills-list li:nth-of-type(5) span {
	background-color: #406618;
}
#skills .goals {
	max-width: 550px;
}
#project {
	padding: 100px 0;
}
#project h2 {
	text-align: center;
}

#project .container {
	flex-wrap: wrap;
	max-width: 1030px;
}
#project .project-item {
	margin-top: 20px;

	position: relative;
	max-width: 500px;
	height: 500px;
	width: 500px;

	overflow: hidden;
}
#project .project-item img {
	width: 100%;
	transition: 200ms;
}

#project .project-item .overlay {
	height: 100%;
	width: 100%;
	background-color: rgba(13, 80, 168, 0.7);
	opacity: 0;
	transition: 200ms;
	position: absolute;
	top: 0;
	left: 0;
}
#project .project-item .overlay h3 {
	font-size: 24px;
}
.project-item.active .overlay {
	opacity: 1 !important;
	z-index: 1;
}
.project-item.active img {
	transform: scale(1.1);
	filter: blur(8px);
}
#project .project-item .actions {
	margin-top: 20px;
}

#project .project-item .live {
	padding: 10px 20px;
	display: block;
	background-color: white;
	border-radius: 20px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
}
#project .project-item .prototype {
	text-transform: capitalize;
	margin-left: 1em;
}
/********************* contact */

#contact {
	padding: 100px 0;
}

#contact .personal-info {
	width: 350px;
}
#contact .personal-info .row .col p > b {
	opacity: 0.7;
}
#contact .useful-links {
	margin-top: 50px;
	max-height: 150px;
	flex-wrap: wrap;
}
#contact .useful-links li {
	margin-bottom: 20px;
}
#contact .form-wrapper {
	width: 500px;
}
#contact .form-wrapper input,
#contact .form-wrapper textarea {
	margin-bottom: 20px;
	font-size: 16px;
	text-indent: 5px;
	resize: none;
	padding: 10px 0;
	width: 100%;
}

footer {
	padding: 30px 0;
	text-align: center;
}

@media only screen and (max-width: 375px) {
	aside {
		display: none;
	}
	html,
	body {
		font-size: 15px;
	}
	header {
		top: 30px;
	}
	header .primary-nav {
		display: none;
	}
	header .menu-icon {
		display: block;
	}
	.container {
		width: 100%;
	}
	#hero {
		background-size: cover;
	}
	#hero .container {
		height: 85vh;
	}
	#hero .col {
		max-width: 100%;
		text-align: center;
	}
	#hero .portrait-mobile {
		display: block;
		width: 50%;
	}

	#hero img {
		display: none;
	}

	#about .col {
		text-align: center;
	}
	#skills {
		padding: 50px 0;
	}
	#skills .col {
		justify-content: center;
	}
	#skills .skills-list {
		margin-right: 0;
		margin-bottom: 50px;
		width: 30%;
	}
	#skills .skills-chart {
		width: 80%;
	}
	#skills .skills-list li {
		margin-bottom: 1em;
		text-transform: uppercase;
		justify-content: center;
	}
	#skills .skills-list li span {
		height: 20px;
		width: 100%;
		margin: 0;
	}
	#skills .goals {
		max-width: 100%;
		text-align: center;
		margin-top: 100px;
	}
	#project .project-item:hover img {
		transform: scale(1);
		filter: blur(0);
	}
}
