@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700&display=swap");
/********************* reset */
html,
body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	scroll-behavior: smooth;
	font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
h2 {
	text-transform: uppercase;
	margin-bottom: 1em;
}
p {
	line-height: 24px;
	color: #4d4d4d;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
button {
	cursor: pointer;
	font-size: 16px;
}
figure {
	margin: 0;
}

/********************* typo */
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.25rem;
}
/********************* colors */
.text-color-white {
	color: white;
}
.text-color-black{
	color: #4d4d4d;
}
.text-color-blue {
	color: #0d50a8;
}
.bg-color-blue {
	background-color: #0d50a8;
}
.bg-color-lightblue {
	background-color: #3981e0;
}
.bg-color-yellow {
	background-color: #e8bc1b;
}
/********************* grid */

.container {
	width: 1200px;
	max-width: 95%;
	margin: 0 auto;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}
.h-space-between {
	justify-content: space-between;
}
.h-space-around {
	justify-content: space-around;
}
.h-center {
	justify-content: center;
}
.v-center {
	align-items: center;
}
.d-column {
	flex-direction: column;
}
/********************* buttons */

.button {
	padding: 16px 32px;
	color: white;
	text-decoration: none;
	border-radius: 20px;
	display: inline-block;
	transition: 200ms ease-in-out;
	text-transform: uppercase;
}

.button-primary {
	background-color: #e8bc1b;
	padding: 16px 80px;
}
.button-primary:hover{
	background-color: #d8ae16;
}
/********************* form */

.button-submit {
	background-color: #e8bc1b;
	padding: 10px 0;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}
/********************* asides */

aside {
	padding: 5px;
}
aside .aside-email i{
	margin-right: 5px;
}
aside .aside-links li {
	margin-left: 20px;
}
aside .aside-links li a{
	font-size: 18px;
}
aside .aside-links li a:hover{
	color: #e8bc1b;
}
aside a {
	font-size: 12px;

}

/********************* header */
header {
	width: 100%;
	position: absolute;
	top: 70px;
	left: 0;
}
header .primary-nav li {
	margin-left: 20px;
}
header .primary-nav li a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	transition: 200ms;
}
header .primary-nav li a:hover {
	color: #e8bc1b;
}
header .menu-icon {
	cursor: pointer;
	display: none;
}
header .menu-icon span {
	height: 5px;
	border-radius: 10px;
	background-color: white;
	display: block;
}
header .menu-icon span:nth-child(1) {
	width: 45px;
}
header .menu-icon span:nth-child(2) {
	width: 37px;
	margin-top: 7px;
}
header .menu-icon span:nth-child(3) {
	width: 27px;
	margin-top: 7px;
}

.mobile-nav.active {
	opacity: 1;
	pointer-events: auto;
}
.mobile-nav {
	transition: 200ms;
	position: fixed;
	top: 0;
	opacity: 0;
	pointer-events: none;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #3981e0;
	z-index: 1;
}
.mobile-nav ul {
	padding-top: 100px;
	height: 100%;
	margin-left: auto;
}
.mobile-nav ul li {
	background-color: #6296da;
	padding: 20px 0 20px 20px;
	margin-bottom: 3px;
}

.mobile-nav ul li a {
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	display: block;
}
/********************* logo */

.logo {
	text-transform: uppercase;
	font-size: 20px;

	text-decoration: none;
}
.logo span {
	font-weight: 700;
}
/********************* hero */

#hero {
	background-image: url("../images/hero.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#hero .container {
	height: 75vh;
}
#hero .col {
	max-width: 500px;
}
#hero .portrait-mobile {
	display: none;
	width: 100%;
	margin: 0 auto;
}
#hero .button {
	margin-top: 50px;
}
#hero .portrait {
	position: absolute;
	top: 180px;
	right: 120px;
	width: 28vw;
}
/********************* about */
#about {
	padding: 100px 0;
}
#about .col {
	max-width: 550px;
	text-align: right;
}

#about .button {
	margin-top: 40px;
}

#skills {
	padding: 50px 0;
}
#skills .skills-list {
	margin-right: 50px;
}
#skills .skills-list li span {
	height: 20px;
	width: 20px;
	display: inline-block;
	margin-right: 1em;
}
#skills .skills-list li {
	margin-bottom: 1em;
	text-transform: uppercase;
}
#skills .skills-list li:nth-of-type(1) span {
	background-color: #3981e0;
}
#skills .skills-list li:nth-of-type(2) span {
	background-color: #ad541a;
}

#skills .skills-list li:nth-of-type(3) span {
	background-color: #54507a;
}

#skills .skills-list li:nth-of-type(4) span {
	background-color: #164d94;
}
#skills .skills-list li:nth-of-type(5) span {
	background-color: #406618;
}
#skills .goals {
	max-width: 550px;
}
#skills .skills-chart {
	width: 20vw;
}
#project {
	padding: 50px 0;
}
#project h2 {
	text-align: center;
	margin-bottom: 70px;
}


#project .project-item img{
	
	width: 100%;
	height: 200px;
	display: block;
}
#project .project-item h3{
	font-size: 24px;
	margin-top: 0;
	
	text-transform: capitalize;
}
#project .project-item{
	
	max-width: 350px;
}
#project .project-header a{

font-size: 18px;
height: 40px;
background-color: rgb(223, 223, 223);
width: 40px;
border-radius: 50%;
line-height: 40px;
text-align: center;
transition: 200ms;

}
#project .project-header a:hover{
	background-color: #e8bc1b;
}
#project .project-inner{
	padding: 40px 15px 40px 15px;
	border: #eee 1px solid;
	border-top: none;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	display: block;
}


/********************* contact */

#contact {
	padding: 100px 0 0 0;
}


#contact .personal-info {
	width: 350px;
}
#contact .personal-info .row .col p > b {
	opacity: 0.7;
}
#contact .link-icon{
	transition: 200ms;
	border: solid 2px white;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	display: inline-block;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
}
#contact .link-icon:hover{
	color: #e8bc1b;
	border-color: #e8bc1b;
}
#contact .useful-links {
	margin-top: 50px;
	max-height: 150px;
	flex-wrap: wrap;
}
#contact .useful-links li {
	margin-bottom: 20px;
}
#contact .form-wrapper {
	width: 500px;
}
#contact .form-wrapper label{
	margin-bottom: 10px;
}
#contact .form-wrapper input,
#contact .form-wrapper textarea {
	margin-bottom: 20px;
	font-size: 16px;
	text-indent: 5px;
	resize: none;
	padding: 10px 0;
	width: 100%;
}

footer {
	padding: 30px 0;
	text-align: center;
}
.back-to-top{
	text-decoration: none;
	padding: 50px 0;
	text-align: center;
	width: 100%;
}
.back-to-top a{
	margin: 0 auto;
	text-decoration: none;

	
	
}
.back-to-top i{
	transition: 200ms;
	display: block;
	color: #e8bc1b;
	
}
.back-to-top a:hover i{
	transform: translateY(-5px);
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
	aside {
		display: none;
	}
	html,
	body {
		font-size: 15px;
	}
	header {
		top: 20px;
	}
	header .primary-nav {
		display: none;
	}
	header .menu-icon {
		display: block;
		z-index: 2;
	}
	header .logo {
		z-index: 2;
	}
	.container {
		width: 100%;
	}
	#hero {
		background-size: cover;
	}
	#hero .container {
		height: 85vh;
	}
	#hero .col {
		max-width: 100%;
		text-align: center;
	}
	#hero .portrait-mobile {
		display: block;
		width: 50%;
	}

	#hero img {
		display: none;
	}

	#about .col {
		text-align: center;
	}
	#skills {
		padding: 50px 0;
	}
	#skills .col {
		justify-content: center;
	}
	#skills .skills-list {
		margin-right: 0;
		margin-bottom: 50px;
		width: 30%;
	}
	#skills .skills-chart {
		width: 80%;
	}
	#skills .skills-list li {
		margin-bottom: 1em;
		text-transform: uppercase;
		justify-content: center;
	}
	#skills .skills-list li span {
		height: 20px;
		width: 100%;
		margin: 0;
	}
	#skills .goals {
		max-width: 100%;
		text-align: center;
		margin-top: 100px;
	}
	#project .project-item{
		
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
	aside {
		display: none;
	}
	html,
	body {
		font-size: 15px;
	}
	header {
		top: 20px;
	}
	header .primary-nav {
		display: none;
	}
	header .menu-icon {
		display: block;
		z-index: 2;
	}
	header .logo {
		z-index: 2;
	}
	.container {
		width: 80%;
		margin: 0 auto;
		
	}
	#hero {
		background-size: cover;
	}
	#hero .container {
		height: 130vh;
	}
	#hero .col {
		max-width: 100%;
		text-align: center;
	}
	#hero .portrait-mobile {
		display: block;
		width: 20%;
	}

	#hero img {
		display: none;
	}

	#about .col {
		text-align: center;
	
	}
	
	#skills {
		padding: 50px 0;
	}
	#skills .container{
		width: 80%;
		
	}
	
	
	#skills .skills-list {
		margin-right: 0;
		margin-bottom: 50px;
		width: 30%;
	}
	#skills .col:nth-child(1){
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 100%;
	}
	#skills .skills-chart {
		width: 40vw;
		
	}
	#skills .skills-list li {
		margin-bottom: 1em;
		text-transform: uppercase;
		justify-content: center;
	}
	#skills .skills-list li span {
		height: 20px;
		width: 100%;
		margin: 0;
	}
	#skills .goals {
		max-width: 100%;
		text-align: center;
		margin-top: 100px;
	}
	#project .row {
		justify-content: center;
	}
	#project .project-item{
		max-width: 70%;
		margin-bottom: 20px;
	}
	
}